<a href="https://colab.research.google.com/github/asr1996/Algoexpert-practice-Questions/blob/main/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
a = ['ayush', 'ankush', 'sid']

for i,name in enumerate(a):
    print(i, name)

0 ayush
1 ankush
2 sid

In [30]:
a = ['ayush', 'ankush', 'sid', 'ayush']

for name in a:
    print('yes') if name=='ayush' else print("no")

yes
no
no
yes

In [17]:
array=['a','b', 'c']
for i in array:
    print(i)

a
b
c

In [19]:
for i in range(len(array)):
    print(array[i])

a
b
c

In [20]:
for i in enumerate(array):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')

In [59]:
dict1={'Ayush':27, 'Ankush':23, 'Priyansh':25, 'Sid':30}
for name in dict1:
    print(dict1.values())

dict_values([27, 23, 25, 30])
dict_values([27, 23, 25, 30])
dict_values([27, 23, 25, 30])
dict_values([27, 23, 25, 30])

In [22]:
for age in dict1:
    print(dict1[age])

27
23
25
30

In [27]:
print(dict1.values())

dict_values([27, 23, 25, 30])

In [24]:
for name,age in enumerate(dict1.items()):
    print(name,age)

0 ('Ayush', 27)
1 ('Ankush', 23)
2 ('Priyansh', 25)
3 ('Sid', 30)

In [32]:
a=[10,13,45,67,12,1323,55343,2,6,1]
a.sort()

None

In [33]:
print(a)

[1, 2, 6, 10, 12, 13, 45, 67, 1323, 55343]

In [34]:
two_d_array=[[1,2],[3,4],[5,6]]
print(two_d_array)

[[1, 2], [3, 4], [5, 6]]

In [48]:
for i in two_d_array:
    print(len(two_d_array))

3
3
3

In [55]:
for i,j in enumerate(two_d_array):
    print(j)

[1, 2]
[3, 4]
[5, 6]